.ps-card[data-v-2b489118] {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    display: block;
    font-family: Open Sans, Helvetica, Arial, sans-serif !important;
    margin-bottom: 0.75rem;
    position: relative;
}
.ps-card-header[data-v-0247599e] {
    background-color: #f5f5f5 !important;
    border-bottom: 1px solid #e5e5e5 !important;
    color: #363a41;
    font-family: Open Sans, Helvetica, Arial, sans-serif !important;
    font-size: 1rem !important;
    font-weight: 700;
    height: unset !important;
    line-height: 1.2 !important;
    margin: unset !important;
    margin-top: 0;
    padding: 0.75rem 1.25rem !important;
    text-transform: unset !important;
}
.ps-card-block[data-v-457cffc1] {
    padding: 1.25rem;
}
.ps-card-footer[data-v-4d6109aa] {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    font-family: Open Sans, Helvetica, Arial, sans-serif !important;
    padding: 0.75rem 1.25rem;
}
.go-further[data-v-28c1e516] {
    font-size: 14px;
}
.product-name[data-v-28c1e516] {
    font-size: 16px;
    font-weight: 600;
}
.addons[data-v-28c1e516] {
    color: #df0067;
    font-size: 14px;
    font-weight: 600;
}
.banner-block[data-v-28c1e516] {
    -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    width: 100%;
}
.dialog-preview-addons-footer[data-v-28c1e516] {
    padding-top: 20px;
    position: absolute;
    width: 100%;
}
.by-prestashop[data-v-28c1e516] {
    font-weight: 600;
}
.left[data-v-28c1e516] {
    float: left;
}
.right[data-v-28c1e516] {
    float: right;
}
.by-prestashop[data-v-28c1e516] {
    color: #fff !important;
}
.center[data-v-28c1e516] {
    text-align: center;
}
#dialog-preview-addons .el-dialog {
    width: 100vh !important;
}
#dialog-preview-addons .el-dialog__body,
#dialog-preview-addons .el-dialog__header {
    padding: 0 !important;
}
#dialog-preview-addons .el-dialog__headerbtn {
    right: -40px !important;
    top: -40px !important;
}
#dialog-preview-addons .el-dialog__headerbtn .el-dialog__close {
    color: #fff;
    font-size: 24px;
    font-weight: 900;
}
#dialog-preview-addons .el-dialog__headerbtn .el-dialog__close:hover {
    color: #25b9d7;
}
#screenshot-preview-addons.el-carousel {
    -webkit-transform: translate(0);
    overflow: unset !important;
    transform: translate(0);
}
#screenshot-preview-addons > .el-carousel__container {
    overflow: hidden;
}
#screenshot-preview-addons .el-carousel__arrow--left {
    left: -50px !important;
    position: fixed;
}
#screenshot-preview-addons .el-carousel__arrow--left:hover {
    color: #25b9d7;
}
#screenshot-preview-addons .el-carousel__arrow--right {
    position: fixed;
    right: -50px !important;
}
#screenshot-preview-addons .el-carousel__arrow--right:hover {
    color: #25b9d7;
}
#screenshot-preview-addons .el-carousel__arrow,
#screenshot-preview-addons .el-carousel__arrow:hover {
    background-color: unset !important;
}
#screenshot-preview-addons .el-icon-arrow-left {
    font-size: 32px !important;
    font-weight: 900 !important;
}
#screenshot-preview-addons .el-icon-arrow-left:hover {
    color: #25b9d7;
}
#screenshot-preview-addons .el-icon-arrow-right {
    font-size: 32px !important;
    font-weight: 900 !important;
}
#screenshot-preview-addons .el-icon-arrow-right:hover {
    color: #25b9d7;
}
.el-autocomplete[data-v-6fed3483] {
    width: 60%;
}
.no-link[data-v-6fed3483] {
    color: #6c868e;
    font-style: italic;
    line-height: 40px;
}
.features[data-v-6fed3483] {
    font-weight: 700;
}
.features > .material-icons[data-v-6fed3483] {
    color: #25b9d7;
    font-size: 18px;
    vertical-align: bottom;
}
